<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forum</title>
  <style>
    body {
      line-height: 1.6;
      text-align: left;
      font-family: 'Arial', sans-serif;
      margin: 20px;
    }

    main {
      max-width: 800px;
      margin: 0 auto;
    }


    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .form-group {
      margin-bottom: 1.5rem;
    }

  </style>
</head>
<body>
<main>
  <p class="title">Nowy wpis:</p>
  <form id="formularz">
    <div class="form-group">
      <label for="name">Twoje imię i nazwisko</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="content">Treść wpisu</label>
      <textarea class="form-control" id="content" name="content" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" onclick='window.location.reload();' >Dodaj wpis</button>
  </form>

  <hr>

  <div id="entries-container">
    <% for (let post of posts) { %>
      <div>
        <h2><%= post.name %></h2>
        <p><%= post.content %></p>
      </div>
    <% } %>
  </div>
</main>
<script lang="ts">
  const renderPosts = (posts) => {
    const root = document.querySelector('#entries-container');
    for (let post of posts) {
      var div = document.createElement('div');

      var h2 = document.createElement('h2');
      h2.innerText = post.name;

      var p = document.createElement('p');
      p.innerText = post.content;

      div.appendChild(h2);
      div.appendChild(p);
      root.appendChild(div);
    }
  };

  addEventListener('load', function() {
    fetch('/entries', { method: 'GET' })
      .then(response => response.json())
      .then(data => { var entries = data; renderPosts(entries); })
      .catch(err => console.trace(err));
  });

  document.querySelector('#formularz').addEventListener('submit', function (event) {
    event.preventDefault();
    let name = document.querySelector('#name').value;
    let content = document.querySelector('#content').value;
    let post = { name: name, content: content };
    fetch('/submit', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(post) })
  });
</script>
</body>
</html>
