@media screen and (max-width: 768px) {
    header,nav,aside,main,footer {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        

    }
    aside {
        width: 100%;
        position: relative;
        left: 0;
    }
    
}

aside  {   
    width: 30rem;
    position: absolute;
    top: 105px;
    right: 8px;
    padding-left: 1rem;
}
footer {
    font-size: large;
    margin-top: 8px;
}      
header {
    padding-left: 1rem;
}
main {
    margin-top: 10px;
    width: 27.5rem;
    padding-left: 1rem;
}
nav {
    margin-right: 25px;
    margin-top: 10px;
    width: 8rem;
    padding-left: 1rem;
}


.animation{
    animation: rainbow 0.5s linear;
    animation-iteration-count: infinite;
}

.azure{
    background-color: #EFF;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 10px rgba(0.25, 0.25, 0.25, 0.25);
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    10%{
        color: rgb(255,127,0);
    }
    20%{
        color: rgb(255,255,0);
    }
    30%{
        color: rgb(127,255,0);
    }
    40%{
        color: rgb(0,255,0);
    }
    50%{
        color: rgb(0,255,127);
    }
    60%{
        color: rgb(0,255,255);
    }
    70%{
        color: rgb(0,127,255);
    }
    80%{
        color: rgb(0,0,255);
    }
    90%{
        color: rgb(127,0,255);
    }
    95%{
        color: rgb(255,0,255);
    }
   
}

